In [1]:
from datetime import datetime

In [2]:
year = 2020
month = 1
day = 2
hour = 13
minute = 30
second = 15

In [3]:
date = datetime(year, month, day)

In [4]:
date

datetime.datetime(2020, 1, 2, 0, 0)

In [5]:
date_time = datetime(year, month, day, hour, minute, second)

In [6]:
date_time

datetime.datetime(2020, 1, 2, 13, 30, 15)

In [7]:
type(date_time)

datetime.datetime

In [8]:
import numpy as np

In [9]:
np.array(['2020-03-15', '2020-03-16', '2020-03-17'], dtype='datetime64[D]')

array(['2020-03-15', '2020-03-16', '2020-03-17'], dtype='datetime64[D]')

In [10]:
np.array(['2020-03-15', '2020-03-16', '2020-03-17'], dtype='datetime64[Y]')

array(['2020', '2020', '2020'], dtype='datetime64[Y]')

In [11]:
np.array(['2020-03-15', '2020-03-16', '2020-03-17'], dtype='datetime64[h]')

array(['2020-03-15T00', '2020-03-16T00', '2020-03-17T00'],
      dtype='datetime64[h]')

In [12]:
np.arange('2018-06-01', '2018-06-23', 7, dtype='datetime64[D]')

array(['2018-06-01', '2018-06-08', '2018-06-15', '2018-06-22'],
      dtype='datetime64[D]')

In [13]:
np.arange('1968', '1976', dtype='datetime64[Y]')

array(['1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975'],
      dtype='datetime64[Y]')

In [14]:
import pandas as pd

In [15]:
pd.date_range('Jan 01, 2018', periods=7, freq='D')

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07'],
              dtype='datetime64[ns]', freq='D')

In [16]:
pd.to_datetime(['2/1/2018', '3/1/2018'], format="%d/%m/%Y")

DatetimeIndex(['2018-01-02', '2018-01-03'], dtype='datetime64[ns]', freq=None)

In [17]:
data = np.random.randn(3, 2)
cols = ['A', 'B']
print(data)

[[-0.50963806  0.44713684]
 [ 0.21551422 -0.68239021]
 [ 0.50316835  0.37497769]]

In [18]:
idx = pd.date_range('2020-01-01', periods=3, freq='D')
df = pd.DataFrame(data, index=idx, columns=cols)

In [19]:
df.head()

                   A         B
2020-01-01 -0.509638  0.447137
2020-01-02  0.215514 -0.682390
2020-01-03  0.503168  0.374978

In [20]:
df.index.max()

Timestamp('2020-01-03 00:00:00', freq='D')

In [21]:
df.iloc[df.index.argmax()]

A    0.503168
B    0.374978
Name: 2020-01-03 00:00:00, dtype: float64

In [22]:
df.index.min()

Timestamp('2020-01-01 00:00:00', freq='D')

In [23]:
df.iloc[df.index.argmin()]

A   -0.509638
B    0.447137
Name: 2020-01-01 00:00:00, dtype: float64